{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Lesson Submission and Approval System</h4>
                </div>

                <div class="card-body">
                    <div class="text-center mb-4">
    <img src="https://th.bing.com/th/id/R.a1748c31235aa27e841c6d9f9669e81c?rik=Kcarksw%2f4HIU9Q&pid=ImgRaw&r=0" 
         alt="GES Logo" 
         style="max-width:150px;">
</div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} text-center alert-dismissible fade show">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}

                    <form method="POST">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>

                        <button class="btn btn-primary w-100">Login</button>
                    </form>

                    <div class="text-center mt-3">
    <a href="{{ url_for('forgot_password') }}" class="text-decoration-none">
        Forgot password?
    </a>
</div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}